# Byte-compiled / optimized / DLL files
__pycache__/
venv/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

*.log

# Virtual environments
.venv
venv/
ENV/
env.bak/
venv.bak/

# Secret configuration files
#config/secrets.yaml
#config/secrets-*.yaml
