# Шаблон для secrets.yaml
# Скопируйте этот файл в secrets.yaml и заполните своими данными

# Данные для подключения к базе данных
database:
  prod:
    user: your_mysql_user
    password: your_mysql_password
  
  test:
    user: your_mysql_user
    password: your_mysql_password
